<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Dragon</title>

</head>
	<body>
		<header>
			<div class="jumbotron text-center" style="background-color:lavender">
				<h1>Jacob Arriola</h1>
				<p>Working with HTML and CSS</p>
			</div>
			<nav class="floating-menu" style="font-family: san-serif; background: lavender; padding: 10px; width: 80px; z-index: 100; position: fixed; border-radius: 15px;">
				<a href="#" style="color:#707c80;">Home</a>
				<a href="#personal_about" style="color:#707c80;">About</a>
				<a href="#personal_skills" style="color:#707c80;">Skills</a>
				<a href="#personal_education" style="color:#707c80">Education</a>
				<a href="#personal_hobby" style="color:#707c80">Hobbies</a>
				<a href="#personal_contact" style="color:#707c80">Contact</a>
			</nav>

		</header>

		<div class="container" id="personal_summary" style="background-color:lavender; border-radius: 25px; padding-bottom: 10px; padding-top: 10px">
			<h2>Welcome!</h2>
			<p>I am a recent graduate of Rensselaer Polytechnic Institute with a B.S degree in Interdisciplinary Science. My coursework included classes primarily in Computer Science, Physics and Mathematics, which has improved my critical thinking and problem-solving skills. I am a flexible individual with the ability to hit the ground running in any environment. My involvement in youth development and education has given me insight into better ways to teach and learn. 
			</p>
			<p>Through my years in schooling I have grown accustomed to wearing many hats, and I believe that bringing perspectives from different environments and disciplines is important to the tech industry. I am competitive by nature and a sore loser at heart, so when I find an area of my own weakness I work to change that area into one of strength. 
			</p>
		</div>

		<div class="container" id="personal_about" style="padding-bottom: 10px; padding-top: 10px">
			<h2>About me</h2>
			<p> I love a lot of things, from sports to video games to animals to people to buildings! Everything is interesting in some way, and somethings are interesting at different times! It's wild living in a time where we have access to any and everything, and it'll be an interesting journey to see where we as a whole end up. Honestly, it's hard to find something that I can't find an interest in</p>
			<p>Seriously, I love video games. You can probably find who I am in most games pretty easily and I'll try to keep an updated list here for you!</p>
		</div>

		<div class="container" id="personal_skills" style="background-color:lavender; border-radius:25px; height:auto; padding-bottom: 10px; padding-top: 10px">
			<h2>Skills</h2>
			<p> These are the skills I feel are most relevant to the career path I'm looking to follow</p>
			<div class="row">
				<div class="col-sm-4">
					<h6>Object-oriented Languages</h6>

						<li>Python</li>
						<li>C++</li>
						<li>C</li>

				</div>
				<div class="col-sm-4">
					<h6>Web Dev Languages</h6>

					<li>HTML</li>
					<li>CSS</li>
					<li>SQL</li>

				</div>
				<div class="col-sm-4">
					<h6>Other</h6>

					<li>MS-Office</li>
					<li>G-Suite</li>
					<li>Insane typing speed</li>

				</div>
			</div>
		</div>

		<div class="container" id="personal_education" style="padding-bottom: 10px; padding-top: 10px">
			<h2>Education</h2>
				<a href="https://www.rpi.edu/" style="color: #000000">Rensselaer Polytechnic Institute</a><br>
				<a href="https://www.riordanhs.org/" style="color: #000000">Archbishop Riordan Highschool</a><br>
				<p>Some text I'll change eventually</p>
		</div>

		<div class="container" id="personal_hobby" style="background-color:lavender; border-radius: 25px; padding-bottom: 10px; padding-top: 10px">
			<h2>Hobbies</h2>
			<p>These are the activities that I feel best represent who I am, inside and outside!</p>

		</div>
		<div class="container" id="personal_contact" style="padding-bottom: 10px; padding-top: 10px">
			<h2>Contact Information</h2>
			<p>I can be reached pretty easily at most times of the day at the following addresses/websites. Feel free to shoot me a message and I'll get back to you as soon as I can.</p>
			<div class="row">
				<div class="col-sm-4">
					<h6>Professional:</h6>
					<a href="mailto:jarriola2012+domain@gmail.com">E-mail</a><br>
					<a href="https://github.com/dratinl">Github</a><br>
					(650) 808-5859
				</div>
				<div class="col-sm-4">
					<h6>Social:</h6>
					<a href="https://www.linkedin.com/in/jacob-arriola-2696189a/" style="color:#000000">Linkedin</a><br>
					<a href="https://www.facebook.com/Yakeypoo" style="color:#000000">Facebook</a>
				</div>
				<div class="col-sm-4">
					<h6>Other:</h6>
					<li>Not sure</li>
				</div>
			</div>
		</div>
	</body>
</html>