<!DOCTYPE html>
<html lang="eng">
<head>
	<script src="js/less.js" type="text/javascript"></script>
	<script src="js/scripts.js" type="text/javascript"></script>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Social icons from fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- My CSS stylesheet -->
 	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <!-- Title icon image -->
	<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA5sKeAP///wDkvZcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADMzMzMzMzAAMzIiIzMzMAAzIjIiMzMwADMiMiIzMzAAMyIyIjMzMAAzIzIiMzMwADMzMiIzMzAAMzMyIjMzMAAzMzMjMzMwADMzMzMzMzAAMzMyIjMzMAATIyIiIyMwADIiMiIyIjAAMzMzMzMzMAAzMzMjMzMwADMzMzMzMzDAAQAAwAEAAMABAADAAQAAwAEAAMABAADAAQAAwAEAAMABAADAAQAAwAEAAMABAADAAQAAwAEAAMABAADAAQAA" rel="icon" type="image/x-icon" />
	
	<title>Jacob Arriola</title>

</head>
	<body>
		<header>
			<!-- Top banner -->
			<div class="jumbotron">
				<h1 style="color:white">Jacob Arriola</h1>
				<h6 style="color:white">Jake of all trades</h6>
			</div>
		</header>
		<!-- Footer navigation bar -->
		<nav class="navbar">
			<div class="row">
				<a href="#">Home</a>
				<a href="#personal_about">About</a>
				<a href="#personal_skills">Skills</a>
				<a href="#personal_education">Education</a>
				<a href="#personal_hobby">Hobbies</a>
				<a href="#personal_contact">Contact</a>
			</div>
		</nav>
		<!-- Main Content -->
		<div class="container" id="personal_summary">
			<h2>Welcome!</h2>
			<p>I am a recent graduate of Rensselaer Polytechnic Institute with a B.S degree in Interdisciplinary Science. My coursework included classes primarily in Computer Science, Physics and Mathematics, which has improved my critical thinking and problem-solving skills. I am a flexible individual with the ability to hit the ground running in any environment. My involvement in youth development and education has given me insight into better ways to teach and learn. 
			</p>
			<p>Through my years in schooling I have grown accustomed to wearing many hats, and I believe that bringing perspectives from different environments and disciplines is important to the tech industry. I am competitive by nature and a sore loser at heart, so when I find an area of my own weakness I work to change that area into one of strength. 
			</p>
		</div>

		<div class="container" id="personal_about">
			<h2>About me</h2>
			<p> I love a lot of things, from sports to video games to animals to people to buildings! Everything is interesting in some way, and somethings are interesting at different times! It's wild living in a time where we have access to any and everything, and it'll be an interesting journey to see where we as a whole end up. Honestly, it's hard to find something that I can't find an interest in</p>
			<p>Seriously, I love video games. You can probably find who I am in most games pretty easily and I'll try to keep an updated list here for you!</p>
		</div>

		<div class="container" id="personal_skills">
			<h2>Skills</h2>
			<p> These are the skills I feel are most relevant to the career path I'm looking to follow</p>
			<div class="row">
				<div class="col-sm-4">
					<h6>Programming Languages</h6>
					<li>Python</li>
					<li>C++</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>SQL</li>
				</div>
				<div class="col-sm-4">
					<h6>Tools</h6>
					<li>MS-Office</li>
					<li>G-Suite</li>

				</div>
				<div class="col-sm-4">
					<h6>Other</h6>
					<li>Insane typing speed</li>

				</div>
			</div>
		</div>

		<div class="container" id="personal_hobby">
			<h2>Hobbies</h2>
			<p>These are the activities that I feel best represent who I am, inside and outside!</p>

		</div>

		<div class="container" id="personal_education">
			<h2>Education</h2>
			<div class="row">
				<div class="col-sm-3">
					<a href="https://www.rpi.edu/">Rensselaer Polytechnic Intitute</a>
					<h6>Interdisciplinary Science, B.S. </h6>
					<h6>Class of 2017 | Troy, NY</h6>
				</div>
				<div class="col-sm-3">
					<a href="https://www.riordanhs.org/">Archbishop Riordan Highschool</a>
					<h6>Class of 2012 | San Francisco, CA</h6>
				</div>
			</div>

		</div>

		<div class="footer" id="personal_contact">
			<div class="row">
				<div class="col-sm-4">

					<a href="mailto:jarriola2012+domain@gmail.com">
						<i class="far fa-envelope"></i>
					</a>
					<a href="https://www.linkedin.com/in/jacob-arriola-2696189a/">
						<i class="fab fa-linkedin"></i>
					</a>
					<a href="https://github.com/dratinl">
						<i class="fab fa-github-square"></i>
					</a>

				</div>
				<div class="col-sm-4">
					<a href="https://www.facebook.com/Yakeypoo">
						<i class="fab fa-facebook-square"></i>
					</a>
					<a href="https://www.instagram.com/yakeypoo/">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
	</body>
</html>